@CHARSET "UTF-8";

table{border-collapse:collapse; margin:auto; }
#tbl{border-bottom:red;}
h1{text-align:center;}
.title{color:white; text-align:center; background:gray;}
.row{text-align:center; }
.row:hover:after{border-bottom:blue;}
a{text-decoration:none;}
.container {
height: 50px;
width: 200px;
margin: 50px auto;

}
*[data-animation="ripple"] {
height: 100%;
width: 100%;
display: block;
outline: none;
padding: 20px;
color: #fff;
text-transform: uppercase;
background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
box-sizing: border-box;
text-align: center;
line-height: 14px;
font-family: roboto, helvetica;
font-weight: 200;
letter-spacing: 1px;
text-decoration: none;
box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
cursor: pointer;
  /*border-radius: 50px;*/
-webkit-tap-highlight-color: transparent;
border-radius: 5px;
}

*[data-animation="ripple"]:focus {
outline: none;
}

*[data-animation="ripple"]::selection {
background: transparent;
pointer-events: none;
}

body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
.button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.button:hover{
  background:#fff;
  color:#1AAB8A;
}
.button:before, .button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button:hover:before, .button:hover:after{
  width:100%;
  transition:800ms ease all;
}

#buttonType{margin:50px auto; width:480px;}